service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
    	return request.auth.uid != null;
    }

    function isLessThanOneMb() {
    	return 	request.resource.size < 1 * 1024 * 1024
    }

    match /{allPaths=**} {
    	allow read;
      allow write: if isAuthenticated() && isLessThanOneMb();
    }
  }
}
